<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Clark Winkelmann</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav"
                aria-expanded="false" aria-label="Ouvrir le menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ml-auto">
                {% for link in site.data.pages %}
                {% assign current = '' %}
                {% if page.url == link.url %}{% assign current = ' active' %}{% endif %}
                {% if page.url == '/index.html' and link.url == '/' %}{% assign current = ' active' %}{% endif %}
                <li class="nav-item{{ current }}">
                    <a href="{{ link.url }}" class="nav-link">
                        {{ link.title }}
                        {% if link.external %}<i class="fa fa-external-link"></i>{% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
