<div class="psa">
    <i class="fa fa-bullhorn"></i>
    <dl>
        <dt>FR</dt>
        <dd>
            En raison des mes obligations militaires (service civil) je ne serai pas disponible pour de nouveaux projets ces prochains mois.
            Vous pouvez néanmoins me contacter pour discuter d'un projet à développer en 2019.
        </dd>
    </dl>
    <dl>
        <dt>EN</dt>
        <dd>
            I will be unavailable for new projects in the coming months because of my military obligations (community service).
            You may still contact me if you want to discuss a project for 2019.
        </dd>
    </dl>
</div>
