* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    background: #efefef;
    font-family: Roboto, sans-serif;
    color: $text-color;
}

footer {
    text-align: center;
    color: $text-color-lighter;

    a {
        color: inherit;
    }
}

.wrapper {
    @media (min-width: $menu-mobile-max-width) {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    @media (min-width: $menu-mobile-max-width) {
        &.page-home {
            background-image: url(/assets/site/hero.jpg);
            background-size: cover;
            background-position: center center;

            header nav {
                background: rgba($color-red, 0.95);
            }

            footer {
                color: #ccc;
                text-shadow: 0 0 10px rgba(black, 0.5);
            }
        }
    }

    .page {
        padding: 0 $content-padding;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;

        .page-stretch {
            flex-grow: 1;
        }

        .content {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;

            a {
                text-decoration: none;
            }
        }

        .intro-box {
            background: rgba(white, 0.8);
            width: 100%;
            max-width: 800px;
            margin: $content-padding auto 0;
            padding: $content-padding 0;
            color: #444;

            @media (min-width: $menu-mobile-max-width) {
                margin-top: 30vh;
                padding: $content-padding 50px;
            }

            @media (min-height: 700px) and (min-width: $menu-mobile-max-width) {
                margin-top: 50vh;
            }

            .lang {
                padding: 0 $content-padding;
                line-height: 1.2em;

                p {
                    margin-top: 1.5em;
                }

                .lang-name {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #888;

                    small {
                        font-size: 0.9em;
                        color: #aaa;
                        text-transform: none;
                    }
                }

                a {
                    color: #666;
                    text-decoration: none;
                }
            }

            @media (min-width: 1060px) {
                display: flex;

                .lang:last-child .lang-name {
                    text-align: right;
                }
            }

        }
    }
}

.psa {
    background: rgba(#fff3cd, 0.9);
    margin: 0 -20px;
    padding: 10px 40px 10px 80px;
    font-size: 0.9em;
    position: relative;

    dl {
        display: flex;
    }

    dt {
        display: block;
        width: 3em;
        font-weight: bold;
    }

    dd {
        flex-grow: 1;
        margin: 0;
    }

    .fa {
        position: absolute;
        top: 40px;
        left: 40px;
        font-size: 20px;
    }

    .fa, dt {
        color: #888;
    }
}
