nav {
    background-color: #a2230e;
    margin-bottom: 15px;
}

footer {
    background: #e7e7e7;
    text-align: center;
    color: #666;
    padding: 50px 0;
    margin-top: 30px;

    a {
        color: #333;
    }
}
