$nav-medium-width: 250px;
$nav-full-width: 400px;
$content-padding: 20px;
$menu-mobile-max-width: 800px;
$menu-medium-max-width: 1200px;
$content-padding: 20px;

$text-color: #333;
$text-color-lighter: #aaa;
$color-red: #600000;

@import 'content';
@import 'nav';
@import 'open-source';
@import 'portfolio';
@import 'projects-old';
