
$theme-color: #c30707;
$theme-color-darker: $theme-color - #222;
$theme-background-color: white;

$content-padding: 20px;
$page-width: 1200px;
$thumbnail-padding: 6px;

$text-color: #333;
$text-color-lighter: #aaa;

%box {
	box-shadow: 0 0 1px rgba(black, 0.5);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: $text-color;
	background: $theme-background-color;
}

.content {
	width: $page-width;
	max-width: 100%;
	margin: 0 auto;

	&.article {
		padding: $content-padding;
		overflow: hidden;

		a {
			color: $theme-color-darker;
			text-decoration: none;
			border-bottom: 1px dashed;

			&:focus {
				color: $text-color-lighter;
			}

			&.imagelightbox {
				border: none;
			}
		}

	}
}

header {
	padding-top: 10px;

	nav {
		background: $theme-color;
		color: #fff;
		border-radius: 3px;
		padding: 0 20px;

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				vertical-align: middle;

				&.home {
					a {
						font-weight: normal;
					}
				}

				a {
					display: block;
					padding: 0.5em 1em;
					color: inherit;
					font-weight: bold;
					font-size: 1.2em;
					text-decoration: none;

					&:hover,
					&:focus,
					&.nav-path-selected {
						background: $theme-color-darker;
					}
				}
			}
		}
	}
}

.banner {
	padding: 0 20px 10px;
	text-align: center;

	.logo,
	.site-title {
		display: inline-block;
		vertical-align: middle;
	}

	.site-title {
		font-size: 80px;
		padding-left: 50px;
	}
}

footer {
	text-align: center;
	color: $text-color-lighter;

	a {
		color: inherit;
	}
}

.content-head {

	overflow: hidden;

	h1 {
		font-size: 2em;
	}

	.crafted-date {
		float: right;
		padding: 1em;
		font-size: 1.5em;
		color: $text-color-lighter;
	}

}

.links {
	@extend %box;
	float: right;
	width: $page-width * 0.25;
	max-width: 100%;
	padding-left: $content-padding;
	padding-bottom: $content-padding;
	margin-left: 50px;
	margin-bottom: 60px;
}

.thumbnails-list {
	text-align: center; // ne fonctionne pas avec float
	margin: 0 $content-padding * -1; // Annule la marge de page-big-thubnails-item
	padding: 0;
	list-style: none;

	li {
		@extend %box;
		float: left;
		margin: $content-padding;
	}

	// à utiliser pour les vignettes utilisant du texte et n'ayant pas forcément d'image
	&.withtext .thumbnail-item {
		min-height: 450px;
		padding-bottom: 80px; // Pour que position:absolute fonctionne même sans min-height
	}

	&.compact .thumbnail-item {
		width: $page-width / 3 - $content-padding * 2;
	}

	.thumbnail-item {
		display: block;
		width: $page-width / 2 - $content-padding * 2;
		color: inherit;
		text-decoration: none;
		position: relative;

		.content.article & {
			color: $text-color;
			border: none; // Remove the link border
		}

		.date {
			background: $theme-color;
			color: white;
			font-weight: bold;
			font-size: 0.9em;
			position: absolute;
			top: 20px;
			right: 0;
			padding: 10px;
		}

		.image img{
			max-width: 100%;
			padding: $thumbnail-padding;
		}

		.image {
			border: none; // remove link border
		}

		.text {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: $content-padding;
			padding-top: 5px;
			background: rgba($theme-background-color, 0.8);

			.title {
				font-size: 3em;
				font-weight: bold;
			}

			.desc {
				color: $text-color-lighter;
			}
		}
	}
}

.gallery {
	clear: both; // To go under the links box
}

.clark-speaking {
	background-image: url(/assets/clark-avatar.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: contain;

	.speech-bubble {
		position: relative;
		background: #eee;
		padding: 0.5em 2em;
		margin-left: 12em;

		&::before {
			content: '';
			width: 0;
			height: 0;
			border-bottom: 2em solid #eee;
			border-left: 1.5em solid transparent;
			position: absolute;
			bottom: 2em;
			right: 100%;
		}
	}

	@media(max-width: 500px) {
		background: none;

		.speech-bubble {
			margin-left: 0;
		}
	}
}

.matu-countdown {
	background: #9b59b6;
	color: white;
	border-top: 6px solid #8e44ad;
	margin-bottom: 2em;
	padding: 1em;
	text-align: center;
	font-size: 2em;
	font-weight: bold;

	.threshold {
		font-size: 0.7em;
		font-weight: normal;
	}

	.remark {
		margin-top: 2em;
		font-size: 0.4em;
		font-style: italic;
		font-weight: normal;
		color: #222;
	}
}
