header {
    @media (min-width: $menu-mobile-max-width) {
        width: $nav-medium-width;
    }
    @media (min-width: $menu-medium-max-width) {
        width: $nav-full-width;
    }
    flex-shrink: 0;

    nav {
        @media (min-width: $menu-mobile-max-width) {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: $nav-medium-width;
        }
        @media (min-width: $menu-medium-max-width) {
            width: $nav-full-width;
        }
        background: $color-red;
        color: #ccc;
        padding: 0 $content-padding;
        overflow-x: hidden; // stay up to top on mobile
        overflow-y: auto;

        h1 {
            font-size: 1.1em;
            text-transform: uppercase;

            small {
                font-size: inherit;

                &::after {
                    content: ' /';
                }
            }

            @media (min-width: $menu-mobile-max-width) {
                font-size: 1.6em;

                small {
                    display: block;
                    font-size: 0.55em;
                }
            }

            @media (min-width: $menu-medium-max-width) {
                font-size: 3em;

                small {
                    font-size: 0.4em;
                }
            }
        }

        a {
            display: block;
            color: inherit;
            text-decoration: none;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .menu {
            display: table;

            & > li {
                display: table-row;
            }

            @media (min-width: $menu-mobile-max-width) {
                display: block;

                & > li {
                    display: block;
                }
            }

            .title {
                display: table-cell;
                text-transform: uppercase;
                font-weight: bold;
                padding-right: 1em;

                @media (min-width: $menu-mobile-max-width) {
                    display: block;
                    margin-top: 30px;
                    margin-bottom: 10px;
                    padding-right: 0;
                }
            }

            .submenu {
                display: table-cell;

                li {
                    display: inline-block;
                }

                @media (min-width: $menu-mobile-max-width) {
                    display: block;

                    li {
                        display: block;
                    }
                }

                a {
                    padding: 0.3em 0.5em;

                    @media (min-width: $menu-medium-max-width) {
                        padding: 0.3em 2em;
                    }

                    &:hover {
                        text-decoration: underline;
                    }

                    .fa {
                        font-size: 1.4em;
                        margin-right: 5px;
                        vertical-align: middle;
                    }

                    .lang {
                        opacity: 0.6;
                        font-size: 0.6em;
                        font-weight: bold;
                    }

                    .username {
                        display: none;
                    }

                    @media (min-width: $menu-medium-max-width) {
                        .username {
                            display: inline;

                            &::before {
                                content: '/ ';
                            }
                        }

                        .media.hide {
                            display: none;

                            & + .username {
                                &::before {
                                    content: '';
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
