.opensource-showcase {
    text-align: center;

    .category {
        @media (min-width: 1500px) {
            display: inline-block;
            vertical-align: top;
            width: 49%;
        }
        text-align: left;

        h2 {
            text-transform: uppercase;
            margin: 20px 0 5px;
            font-size: 2em;
        }

        .description {
            color: #888;

            p {
                margin: 0;
            }

            a {
                color: #444;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .projects {
            margin-top: 10px;

            .project {
                display: inline-block;
                vertical-align: top;
                width: 240px;
                margin: 5px;

                .thumbnail {
                    width: 100%;
                    height: 0;
                    padding-bottom: 80%;
                    background-color: white;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    border-radius: 5px;
                    text-align: center;

                    .fa {
                        padding-top: 40%;
                        line-height: 0;
                        font-size: 80px;
                        color: #bbb;
                    }

                    &.has-icon {
                        background: #dfdfdf;
                    }
                }

                h3 {
                    font-size: 1em;
                    text-align: center;
                }

                .button {
                    display: block;
                    border-radius: 5px;
                    text-align: center;
                    background: #555;
                    color: #eee;
                    padding: 0.6em 0.2em;
                    margin: 5px 0;
                    font-size: 0.9em;

                    &:hover {
                        background: #333;
                    }
                }
            }
        }
    }
}
