.plans {
    width: 100%;
    border-collapse: collapse;

    th, td {
        padding: 1em 0.6em;
        text-align: center;
    }

    th {
        background: $color-red;
        color: white;

        &:empty {
            background: none;
        }
    }

    td {
        border-bottom: 1px solid #aaa;
        background: white;

        &:first-of-type {
            text-align: left;
        }
    }
}
