.old-project-thumbnail-item {
    display: block;
    box-shadow: 0 0 1px rgba(black, 0.5);
    position: relative;
    color: inherit;
    margin-bottom: 20px;

    .date {
        background: #c30707;
        color: white;
        font-weight: bold;
        font-size: 0.9em;
        position: absolute;
        top: 20px;
        right: 0;
        padding: 10px;
    }

    .image img {
        max-width: 100%;
    }

    .text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px 20px 0;
        background: rgba(white, 0.8);

        .title {
            font-size: 3em;
            font-weight: bold;
        }
    }
}
