---
layout: page
---

{{ content }}

<ul class="thumbnails-list withtext">
	{% for project in site.projects reversed %}
		{% if project.categories contains page.category %}
			<li><a href=".{{ project.url }}" class="thumbnail-item">
				{% if project.cover %}
					<div class="image"><img src="{{ project.cover }}" alt="Illustration pour le projet {{ project.title }}"></div>
				{% endif %}
				<div class="text">
					<div class="title">{{ project.title }}</div>
					<div class="desc">{{ project.description }}</div>
				</div>
				<div class="date">{{ project.date | date: "%B %Y" }}</div>
			</a></li>
		{% endif %}
	{% endfor %}
</ul>